@import url(https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap);
body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  height: 100%;
  width: 100%;
  background-image: url(/public/SparkMind_UI/bg.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  box-sizing: border-box;
  font-family: Ubuntu , Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
